<!-- app/templates/auth/register.html -->
{% import "bootstrap/wtf.html" as wtf %} {% extends "base.html" %} 
{% block title %}Register{% endblock %} 
{% block body %}
<fieldset style="margin-bottom: 10px;" class="shadow">
  <div class="content-section">
    <div class="center" id="register-form">
      <legend class="text-center mt-3" id="reg-lbl"><u>REGISTER</u></legend>
      <br />
      {{ wtf.quick_form(form, button_map={'submit': 'primary'}) }}
    </div>
  </div>
</fieldset>

{% endblock body %}
