[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
psycopg2-binary = "*"
Flask = "*"
flask-sqlalchemy = "*"
flask-login = "*"
flask-migrate = "*"
flask-bootstrap = "*"
flask-markdown = "*"
flask-mail = "*"
flask-scss = "*"
flask-wtf = "*"
pillow = "*"
cloudinary = "*"

[requires]
python_version = "3.6"
