{% extends "base.html" %} {% block title %}{{ title }}{% endblock %} {% block
    body %}
    
    <!-- Contact Section -->
    <header class="container-fluid">
        <section class="contact-section bg-black">
          
                <div class="card mb-5" id="about-card">
                        <img
                          src="{{ url_for('static', filename='./img/about.jpg' )}}"
                          alt="Profile picture"
                          class="card-img-top"
                        />
                        <div class="card-body">
                            <h2 class="card-title" id="blog-title">About The Site</h2>
                              
                          <p class="about-card-text">
                              <p>
                                    Apex Self Taught aims at being an oasis in a desert of regard for formal accreditation over competence.
                              </p>
                                <p>
                                        Apex believes that the sum competence of a professional does not reside solely in formal structured academia.
                                        We envision a future where the roles of competence, intellectualism and professionalism 
                                        are considered outside the formality of diploma certificates.
                                </p>
                                <p>
                                        We believe that self-drive to pursue 
                                        one's passion should not be rewarded with disregard but rather optimisms and strides of affirmation. 
                                        We do not presume to have the silver bullet in dealing with work incompetence or offer
                                         presumed guarantees in preferred cultural fits, but we ensure that the match is a as close.
                                </p>
                                <p>
                                        AST takes a professional first approach, in that as much as employers are an integral part in 
                                        ensuring the site is possible, we mainly aim at ensuring self-taught professionals have an equal 
                                        competitive leverage as their diplomas wielding counterparts. We aim at giving them a chance to have 
                                        a face to face interview from where they can prove their worth.
                                </p>
                                <p>
                                        In a 2018 Hackerank survey more than 65% of the students were self-taught 
                                        programmers and the number is expected to rise with time. There being no shortage of 
                                        online resources that make it incredibly efficient to acquire specific set of skills 
                                        that put one at the foe front of their desired field, we wanted to ensure that these professionals do not toil in vain.
                                </p>
                                
                                <h2>What we are not:</h2>
                                <p>
                                        We are not a recruitment firm we do not take any responsibilities in training 
                                the professionals on this site. We do not offer any guarantees outside the periphery of the resumes 
                                that have been posted by the developers and designers on the site. 
                                <p>
                                        We do not guarantee jobs for the professionals 
                                        on this site either we merely provide a platform for hirers to get a pool of professionals with hands on experience 
                                        and of their own volition chose to engage further with the said individuals.
                                </p>
                                </p>
                                
                                
                                
                          </p>
                          
    
                            </div>
                        </div>
                      </div>
                      
          </section>
    
    </header>
    
    
    
    
    {% endblock %}
    