<!--app/templates/home/index.html-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>{{ title }} | Get Hired!</title>
    <!--Favicon-->
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='./img/logo1.ico') }}"/>

    <!-- Bootstrap core CSS  -->
    <link
      href="{{ url_for('static', filename='./css/bootstrap.min.css') }}"
      rel="stylesheet"
    />

    <!-- Custom fonts for this template  -->
    <link
      href="{{ url_for('static', filename = './css/all.min.css') }}"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename = './css/simple-line-icons.css') }}"
    />

    <!-- Custom styles for this template -->
    <link
      href="{{ url_for('static', filename = './css/apex.css') }}"
      rel="stylesheet"
    />
  </head>

  <body id="page-top">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5" id="mainNav">
      <div class="container">
        <a
          class="navbar-brand js-scroll-trigger"
          style="color: #fff;"
          href="{{ url_for('home.homepage') }}"
          ><i class="fa fa-home"></i>&nbsp;Home</a
        >
        <button
          class="navbar-toggler navbar-toggler-right text-light"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          Menu <i class="fas fa-bars text-light"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a
                class="nav-link js-scroll-trigger"
                href="{{ url_for('auth.register') }}"
                ><i class="fa fa-user-edit"></i>&nbsp;Register</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link js-scroll-trigger"
                href="{{ url_for('auth.login') }}"
                ><i class="fa fa-sign-in-alt"></i>&nbsp;Login</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link js-scroll-trigger"
                href="{{ url_for('home.contact') }}"
                ><i class="fa fa-phone"></i>&nbsp;Contact</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('home.blog_post')}}"
                ><i class="fa fa-globe"></i>&nbsp;Blog</a
              >
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('home.about_us')}}"
                  ><i class="fa fa-users-cog"></i>&nbsp;About Us</a
                >
              </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead">
      <div class="container h-100">
        <div class="header-content mx-auto">
          <div id="index-description">
            <div
            id="index-description-body"
              class="text-center text-dark"
            >
              <h3 class="desc-title">Apex Self Taught</h3>

              <p class="container">
                <strong ><abbr title="Apex Self Taught">AST</abbr></strong> is an idea that aims at creating a site that gives self
                taught professionals in the fields of design and software
                engineering a chance to get hired by firms without any formal
                certification. It is based of the belief that getting a degree,
                diploma and the like however important it may be should not
                suffice as reason enough to exercise monopoly over said fields
                It's an ambitious project, completely open source.
              </p>
              <div class="row mt-5">
                <div class="col-md-6 col-xs-12" id="pro-div">
                    <i class="fa fa-user-friends fa-5x"></i></a
                    >
                    <h5>Professionals</h5>
                    <p class="text-center">
                        Apex provides the chance for self-taught professionals in the 
                        fields of software engineering and design with a chance to get that 
                        chance for a formal interview without formal accreditation acting as a barrier. 
                        AST gives the candidates on the site a chance to sell their level of skill and expertise.
                    </p>
                </div>
                <div class="col-md-6 col-xs-12" id="hir-div">
                    <i class="fa fa-industry fa-5x"></i></a>
                    <h5>Hirers</h5>
                    <p class="text-center">
                        AST gives employers an easier time in shortlisting potential 
                        candidates for a job by according them direct access to not only an updated resume 
                        but a taste of the caliber of work the professionals on the site can and has performed.
                    </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <footer class="footerDiv">
      <div class="container">
        <p class="container text-center">&copy; Apex Self Taught 2018. All Rights Reserved.</p>
        <ul class="list-inline text-center">
          <li class="list-inline-item"><a href="#">Privacy</a></li>
          <li class="list-inline-item"><a href="#">Terms</a></li>
          <li class="list-inline-item"><a href="#">FAQ</a></li>
        </ul>
        <div class="text-center">
          <ul class="list-inline">
            <li class="list-inline-item">
              <a href="#"><i class="fab fa-facebook"></i>&nbsp;Facebook</a>
            </li>
            <li class="list-inline-item">
              <a href="#"><i class="fab fa-whatsapp"></i>&nbsp;Whatsapp</a>
            </li>
            <li class="list-inline-item">
              <a href="#"><i class="fab fa-twitter"></i>&nbsp;Twitter</a>
            </li>
          </ul>
          <div>Logo made with <a href="https://www.designevo.com/en/" title="Free Online Logo Maker">DesignEvo</a></div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename = './js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename = './js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename = './js/all.min.js') }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ url_for('static', filename = './js/jquery.easing.min.js') }}"></script>

    <!-- Custom scripts for this template -->
    <script src="{{ url_for('static', filename = './js/apex.js') }}"></script>
  </body>
</html>
