{% extends "base.html" %} {% block title %}{{ title }}{% endblock %} {% block
body %}

<!-- Contact Section -->
<header class="contact-masthead">
    <h1 class="text-center text-dark mb-5" id="contact-title">Talk To Us</h1>
    <section class="contact-section bg-black mb-5">
      
      <div class="container">
        <div class="row">
          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                <h4 class="text-uppercase m-0">Address</h4>
                <hr class="my-4" />
                <div class="small text-black-50">
                  Nairobi, Kenya
                </div>
              </div>
            </div>
          </div>
    
          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="fas fa-envelope text-primary mb-2"></i>
                <h4 class="text-uppercase m-0">Email</h4>
                <hr class="my-4" />
                <div class="small text-black-50">
                  <a href="#">lewiikamaa8@gmail.com</a>
                </div>
              </div>
            </div>
          </div>
    
          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="fas fa-mobile-alt text-primary mb-2"></i>
                <h4 class="text-uppercase m-0">Phone</h4>
                <hr class="my-4" />
                <div class="small text-black-50">+254 713 116 974</div>
              </div>
            </div>
          </div>
        </div>
    </section>
    <section class="contact-section bg-black mb-5">
        <div class="container">
          <div class="row">
            <div class="col-md-4 mb-3 mb-md-0">
              <div class="card py-4 h-100">
                <div class="card-body text-center">
                  <i class="fab fa-github text-primary mb-2"></i>
                  <h4 class="text-uppercase m-0">Apex | GitHub</h4>
                  <hr class="my-4" />
                  <div class="small text-black-50">
                      <a href="https://github.com/MainaKamau92/apexselftaught">We are open source </a>
                    
                  </div>
                </div>
              </div>
            </div>
      
            <div class="col-md-4 mb-3 mb-md-0">
              <div class="card py-4 h-100">
                <div class="card-body text-center">
                  <i class="fab fa-whatsapp text-primary mb-2"></i>
                  <h4 class="text-uppercase m-0">WhatsApp</h4>
                  <hr class="my-4" />
                  <div class="small text-black-50">
                    <a href="https://wa.me/254713116974/?text=Talk%20to%20us%20today">contact us on whatsapp</a>
                  </div>
                </div>
              </div>
            </div>
      
            <div class="col-md-4 mb-3 mb-md-0">
              <div class="card py-4 h-100">
                <div class="card-body text-center">
                  <i class="fab fa-facebook text-primary mb-2"></i>
                  <h4 class="text-uppercase m-0">Facebook</h4>
                  <hr class="my-4" />
                  <div class="small text-black-50">We'd Like to be friends</div>
                </div>
              </div>
            </div>
          </div>
      </section>

      <footer class="footerDiv">
        <div class="container">
          <p class="container text-center">&copy; Apex Self Taught 2018. All Rights Reserved.</p>
          <ul class="list-inline text-center">
            <li class="list-inline-item"><a href="#">Privacy</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">FAQ</a></li>
          </ul>
          <div class="text-center">
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="#"><i class="fab fa-facebook"></i>&nbsp;Facebook</a>
              </li>
              <li class="list-inline-item">
                <a href="#"><i class="fab fa-whatsapp"></i>&nbsp;Whatsapp</a>
              </li>
              <li class="list-inline-item">
                <a href="#"><i class="fab fa-twitter"></i>&nbsp;Twitter</a>
              </li>
            </ul>
            <div>Logo made with <a href="https://www.designevo.com/en/" title="Free Online Logo Maker">DesignEvo</a></div>
          </div>
        </div>
      </footer>

</header>




{% endblock %}
